In [1]:
import starepandas

In [4]:
ssmis = starepandas.io.granules.SSMIS(file_path='../tests/data/granules/1C.F16.SSMIS.XCAL2016-V.20210110-S002714-E020909.088907.V05A.HDF5',
                                      scans=['S1'])

In [7]:
ssmis.read_data()
ssmis.read_sidecar_index()
ssmis.read_timestamps()

In [10]:
ssmis.to_df()['S1']

,sids,timestamp,Tc1,Tc2,Tc3
0,2299437706637111721,2021-01-10 00:27:16.000461,244.339996,220.759995,239.759995
1,2299435211084507593,2021-01-10 00:27:16.000461,243.830002,219.690002,239.070007
2,2299566194809236969,2021-01-10 00:27:16.000461,242.449997,218.070007,237.139999
3,2299568020253779529,2021-01-10 00:27:16.000461,241.389999,214.960007,236.860001
4,2299635836234516649,2021-01-10 00:27:16.000461,241.869995,215.949997,237.960007
...,...,...,...,...,...
289885,2284328777475425993,2021-01-10 02:09:10.000288,224.220001,199.210007,222.589996
289886,2284136116995049001,2021-01-10 02:09:10.000288,219.339996,188.729996,217.100006
289887,2284137931351340937,2021-01-10 02:09:10.000288,215.830002,181.050003,215.320007
289888,2284147551937067273,2021-01-10 02:09:10.000288,213.509995,178.589996,213.570007
289889,2284115567354799209,2021-01-10 02:09:10.000288,213.440002,178.649994,212.820007